@helper Image(string imageUrl, string toyName)
{
    <div class="col-md-12">
        <div class="row"> <img src="@imageUrl" class="img-responsive featured-image" /></div>
        <div class="row text-center"><strong>@toyName</strong></div>
    </div>
}
